table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333; /*字体颜色*/
    border-width: 1px;
    /*border-color: #53bebd;*/
    border-color: #1592ef;
    border-collapse: collapse;
}

table.gridtable tr {
    background-color: #1592ef;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc; /*th边框颜色*/
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #1592ef;
    background-color: #ffffff;
}

.select .loginname {
    /*height:50px;*/
    /*width:400px;*/
    height: 40px;
    width: 300px;
    border: 2px solid #1592ef !important;
    padding-left: 30px;
}

.select .loginname:focus, .select .loginname:hover {
    border: 2px solid #1592ef !important;
}

.select .submit {
    /*height:50px;*/
    height: 40px;
    width: 80px;
    background: #1592ef;
    border: 0px;
    vertical-align: middle;
    margin-left: -10px;
    margin-top: 1px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.select.ok {
    /*height: 40px;*/
    /*width: 80px;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*position:absolute;left:100px; height:100px;*/
}

/*.gridItem {*/
/*!*margin: 0 auto;*!*/
/*position: absolute;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*!*position: fixed;*!*/
/*}*/
